<h1>Create a Team and Heroes!</h1>

<form action='/teams' method="POST">
<label for="team_name">Team Name: </label><br>
<input id="team_name" type="text" name="team[name]" /><br>
<label for="team_motto">Team Motto: </label><br>

<input id="pirate_weight" type="text" name="pirate[weight]" /><br>
<label for="pirate_height">Height</label><br>
<input id="pirate_Height" type="text" name="pirate[height]" /><br>
