<h1>Plus Ultra!</h1>

<% @superheroes.each do |hero| %>
     <p>Name: <%= hero.name %></p><br>
     <p>Type: <%= hero.type %></p><br>
     <p>Booty: <%= hero.booty %></p><br>
   </div><br>
  <% end %>
